build/
images/
results/
external/
.DS_Store

PythonAPI/xtcocotools/__init__.pyc
PythonAPI/xtcocotools/_mask.c
PythonAPI/xtcocotools/_mask.so
PythonAPI/xtcocotools/coco.pyc
PythonAPI/xtcocotools/cocoeval.pyc
PythonAPI/xtcocotools/mask.pyc
