.idea/
build/
images/
results/
external/
.DS_Store

xtcocotools/__init__.pyc
xtcocotools/_mask.c
xtcocotools/_mask.so
xtcocotools/_mask*.so
xtcocotools/coco.pyc
xtcocotools/cocoeval.pyc
xtcocotools/mask.pyc
xtcocotools/__pycache__/
dist/
xtcocotools.egg-info/
